.card-project {
  padding: 10px;
  background-color: var(--mode-bg-projects);
  border-radius: 20px;
  transition: 0.5s;
}
.card-project:hover {
  transform: translate(1px, -1px);
  background-color: var(--mode-bg-hover-projects);
}

.card-project .image {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.1s;
}
@media (max-width: 992px) {
  .card-project .image {
    height: 180px;
  }
}
.card-project .image img {
  transition: 12s linear;
}
.card-project .image:hover img {
  transform: translateY(calc(-100% + 200px));
}

.card-project .text {
  padding: 5px;
}
.card-project .text h4 {
  margin: 8px 0;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
  overflow: hidden;
}
.card-project .text p {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  color: var(--mode-color-trans);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-project .text .software span {
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
  color: #9c6110;
}

.card-project .main-button button {
  font-size: 16px;
  padding: 3px 10px;
  width: 100%;
  margin-top: 10px;
  text-transform: uppercase;
}