.window-project {
  margin-top: 20px;
}
.window-project a {
  font-size: 18px;
  color: #0d6efd;
  transition: 0.3s;
  margin-right: 20px;
}
.window-project a:hover {
  color: var(--main-color);
}
.window-project svg {
  margin-left: 7px;
}


.window-project .window {
  border: 2px solid var(--main-color);
  margin: 7px 30px;
  border-radius: 20px;
  overflow: hidden;
  height: 550px;
}
.window-project iframe {
  width: 100%;
  height: 100%;
}

